{% extends "inventory/view_main.html" %} 
{% load static %}

{% block main_title %}Inventory | Add Category{% endblock %} 
{% block main_css %}
    <link rel="stylesheet" href="{% static "inventory/css/custom/view_inventory_view_category.css" %}">
{% endblock %}

{% block main_logged_in_content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="app-ecommerce-category">

        <!-- Category List Table -->
        <div class="card">
            <div class="card-datatable table-responsive">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                    
                    <div class="card-header d-flex flex-wrap py-0 flex-column flex-sm-row">
                        <div>
                            <div id="DataTables_Table_0_filter" class="dataTables_filter me-3 mb-sm-6 mb-0 ps-0">
                                <label>
                                    <input type="search" class="form-control ms-0" id="search_category" placeholder="Search Category" aria-controls="DataTables_Table_0">
                                </label>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center justify-content-md-end align-items-baseline">
                            <div class="dt-action-buttons d-flex justify-content-center flex-md-row align-items-baseline pt-0">
                                <div class="dt-buttons btn-group flex-wrap">
                                    <button class="btn btn-secondary add-new btn-primary ms-2" tabindex="0" aria-controls="DataTables_Table_0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasEcommerceCategoryList">
                                        <span>
                                            <i class="bx bx-plus bx-sm me-0 me-sm-2"></i>
                                            <span class="d-none d-sm-inline-block">Add Category</span>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    {% if category_list %}
                    <table class="datatables-category-list table border-top dataTable no-footer dtr-column" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" style="width: 1354px;">
                        <thead>
                            <tr>
                                <th class="control sorting_disabled dtr-hidden" rowspan="1" colspan="1" style="width: 0px; display: none;" aria-label=""></th>
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 662px;" aria-label="Categories: activate to sort column ascending">Categories</th>
                                <th class="text-nowrap text-sm-center sorting sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 185px;" aria-label="Total Products &amp;nbsp;: activate to sort column descending" aria-sort="ascending">Total Products &nbsp;</th>
                                <th class="text-lg-center sorting_disabled" rowspan="1" colspan="1" style="width: 122px;" aria-label="Actions">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for category in category_list %}
                                <tr>
                                    <td class="  control" tabindex="0" style="display: none;"></td>
                                    <td class="">
                                        <div class="d-flex align-items-center">
                                            <div class="d-flex flex-column justify-content-center">
                                                <span class="text-heading text-wrap fw-medium">{{ category.category_name }}</span>
                                                <span class="text-truncate mb-0 d-none d-sm-block">
                                                    <small>{{ category.category_description }}</small>
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="sorting_1">
                                        <div class="text-sm-center">{{ category.category_product_count }}</div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-sm-center justify-content-sm-center">
                                            <button class="btn btn-icon">
                                                <i class="bx bx-edit bx-md"></i>
                                            </button>
                                            <button class="btn btn-icon dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded bx-md"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-end m-0">
                                                <a href="javascript:0;" class="dropdown-item">View</a>
                                                <a href="javascript:0;" class="dropdown-item">Suspend</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}

                    {% if category_list_err %}
                        <hr>
                        <div class="category_list_err alert alert-primary" role="alert">{{ category_list_err }}</div>
                    {% endif %}

                    <div style="width: 1%;"></div>
                </div>
            </div>
        </div>

        <!-- Offcanvas to add new customer -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasEcommerceCategoryList" aria-labelledby="offcanvasEcommerceCategoryListLabel">
            <!-- Offcanvas Header -->
            <div class="offcanvas-header py-6">
                <h5 id="offcanvasEcommerceCategoryListLabel" class="offcanvas-title">Add Category</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <!-- Offcanvas Body -->
            <div class="offcanvas-body border-top" data-select2-id="8">
                <form class="pt-0 fv-plugins-bootstrap5 fv-plugins-framework" id="eCommerceCategoryListForm" onsubmit="return true" novalidate="novalidate" method="POST">
                    {% csrf_token %}

                    <!-- Name -->
                    <div class="mb-6 fv-plugins-icon-container form-group">
                        <input type="text" class="form-control" id="category_name" name="category_name" placeholder=" " autofocus value="{{ category_form.category_name.value | default_if_none:'' }}">
                        <label for="category-name" class="form-label">{{ category_form.category_name.label }}</label>

                        {% if category_form.category_name.errors %}
                            {% for error in category_form.category_name.errors %}
                                <p class="custom-error-message mt-1">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    
                    <!-- Description -->
                    <div class="mb-6 form-group">
                        <textarea class="form-control" id="category_description" name="category_description" placeholder=" " autofocus value="{{ category_form.category_description.value | default_if_none:'' }}"></textarea>
                        <label class="mb-1">{{ category_form.category_description.label }}</label>

                        {% if category_form.category_description.errors %}
                            {% for error in category_form.category_description.errors %}
                                <p class="custom-error-message mt-1">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <!-- Status -->
                    <div class="mb-6 form-group">
                        <select id="category_status" class="select2 form-select js-select" name="category_status" autofocus aria-hidden="true">
                            {% for choice in category_form.category_status.field.choices %}
                            <option value="{{ choice.0 }}" {% if choice.0 == category_form.category_status.value %}selected{% endif %}>{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                        <label id="category-status-label" for="ecommerce-category-status" class="">{{ category_form.category_status.label }}</label>

                        {% if category_form.category_status.errors %}
                            {% for error in category_form.category_status.errors %}
                                <p class="custom-error-message mt-1">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    
                    <!-- Submit and reset -->
                    <div class="mb-6">
                        <button type="submit" class="btn btn-primary me-sm-3 me-1 data-submit">Add</button>
                        <button type="reset" class="btn btn-label-danger" data-bs-dismiss="offcanvas">Discard</button>
                    </div>
                    <input type="hidden">
                </form>
            </div>

        </div>

    </div>
</div>
{% endblock %}

{% block main_page_js %}
<script src="{% static "inventory/js/custom/view_inventory_view_category.js" %}"></script>
{% endblock %}