{% extends "inventory/view_main.html" %}
{% load static %}

{% block main_title %}Inventory | Add Category{% endblock %} 
{% block main_css %}
    <link rel="stylesheet" href="{% static "inventory/css/custom/view_inventory_view_category.css" %}">
{% endblock %}

{% block main_logged_in_content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="app-ecommerce-category">

        <!-- Category List Table -->
        <div class="card">
            <div class="card-datatable table-responsive">
                <div id="Category_DataTables_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                    
                    <div class="card-header d-flex flex-wrap py-0 flex-column flex-sm-row">
                        <div>
                            <div id="Category_DataTables_filter" class="dataTables_filter me-3 mb-sm-6 mb-0 ps-0">
                                <label>
                                    <input type="search" class="form-control ms-0" id="search_category" placeholder="Search Category" aria-controls="Category_DataTables">
                                </label>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center justify-content-md-end align-items-baseline">
                            <div class="dt-action-buttons d-flex justify-content-center flex-md-row align-items-baseline pt-0">
                                <div class="dt-buttons btn-group flex-wrap">
                                    <button class="btn btn-secondary add-new btn-primary ms-2" id="addCategoryList" tabindex="0" aria-controls="Category_DataTables" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasEcommerceCategoryList">
                                        <span>
                                            <i class="bx bx-plus bx-sm me-0 me-sm-2"></i>
                                            <span class="d-none d-sm-inline-block">Add Category</span>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <table class="datatables-category-list table border-top dataTable no-footer dtr-column" id="Category_DataTables" aria-describedby="Category_DataTables_info" style="width: 1354px;">
                        <thead>
                            <tr>
                                <th class="control sorting_disabled dtr-hidden" rowspan="1" colspan="1" style="width: 0px; display: none;" aria-label=""></th>
                                </th>
                                <th class="" tabindex="0" aria-controls="Category_DataTables" rowspan="1" colspan="1" style="width: 662px;" aria-label="Categories: activate to sort column ascending">Categories</th>
                                <th class="text-nowrap text-sm-center" tabindex="0" aria-controls="Category_DataTables" rowspan="1" colspan="1" style="width: 185px;" aria-label="Total Products &amp;nbsp;: activate to sort column descending">Total Products &nbsp;</th>
                                <th class="text-lg-center sorting_disabled" rowspan="1" colspan="1" style="width: 122px;" aria-label="Actions">Actions</th>
                            </tr>
                        </thead>
                        <tbody id="category-listing-table">
                            <!-- Table Items will be displayed here -->
                        </tbody>
                    </table>
                    

                    {% if category_list_err %}
                        <hr>
                        <div class="category_list_err alert alert-primary" role="alert">{{ category_list_err }}</div>
                    {% endif %}

                    <div style="width: 1%;"></div>
                </div>
            </div>
        </div>

        <!-- Offcanvas to add new category -->
        {% include "inventory/view_inventory_add_category.html" %}

    </div>
</div>
{% endblock %}

{% block main_page_js %}
<script src="{% static "inventory/js/custom/view_inventory_view_category.js" %}"></script>
<script src="{% static "inventory/js/custom/view_inventory_add_category.js" %}"></script>
{% endblock %}