{% if category_form_status %}

    {% load static %}
    {% block main_css %}
        <link rel="stylesheet" href="{% static "inventory/css/custom/view_inventory_view_category.css" %}">
    {% endblock %}

{% endif %}

<!-- Offcanvas to add new category -->
<div class="offcanvas offcanvas-end {% if category_form_status %}show{% endif %}" tabindex="-1" id="offcanvasEcommerceCategoryList" aria-labelledby="offcanvasEcommerceCategoryListLabel">
    <!-- Offcanvas Header -->
    <div class="offcanvas-header py-6">
        <h5 id="offcanvasEcommerceCategoryListLabel" class="offcanvas-title">Add Category</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <!-- Offcanvas Body -->
    <div class="offcanvas-body border-top" data-select2-id="8">
        <form class="pt-0 fv-plugins-bootstrap5 fv-plugins-framework" id="eCommerceCategoryListForm" onsubmit="return true" novalidate="novalidate" method="POST">
            {% csrf_token %}

            <!-- Name -->
            <div class="mb-6 fv-plugins-icon-container form-group">
                <input type="text" class="form-control" id="category_name" name="category_name" placeholder=" " autofocus value="{{ category_form.category_name.value | default_if_none:'' }}">
                <label for="category_name" class="form-label">{{ category_form.category_name.label }}</label>
                <p id="category_name_error" class="custom-error-message mt-1"></p>
            </div>
            
            <!-- Description -->
            <div class="mb-6 form-group">
                <textarea class="form-control" id="category_description" name="category_description" placeholder=" " autofocus value="{{ category_form.category_description.value | default_if_none:'' }}"></textarea>
                <label for="category_description" class="mb-1">{{ category_form.category_description.label }}</label>
                <p id="category_description_error" class="custom-error-message mt-1"></p>
            </div>

            <!-- Status -->
            <div class="mb-6 form-group">
                <select id="category_status" class="select2 form-select js-select" name="category_status" autofocus>
                    {% for choice in category_form.category_status.field.choices %}
                    <option value="{{ choice.0 }}" {% if choice.0 == category_form.category_status.value %}selected{% endif %}>{{ choice.1 }}</option>
                    {% endfor %}
                </select>
                <label id="category-status-label" for="category_status" class="">{{ category_form.category_status.label }}</label>
                <p id="category_status_error" class="custom-error-message mt-1"></p>
            </div>
            
            <!-- Submit and reset -->
            <div class="mb-6">
                <button type="submit" id="submit_add_category" class="btn btn-primary me-sm-3 me-1 data-submit">Add</button>
                <button type="reset" id="reset_add_category" class="btn btn-label-danger" data-bs-dismiss="offcanvas">Discard</button>

                <p id="add_category_response" class="custom-success-message mt-3"></p>
            </div>
            <input type="hidden">
        </form>
    </div>

</div>

{% if category_form_status %}
    
    {% block main_page_js %}
        <script src="{% static "inventory/js/custom/view_inventory_view_category.js" %}"></script>
        <script src="{% static "inventory/js/custom/view_inventory_add_category.js" %}"></script>
    {% endblock %}

{% endif %}