{% load static tailwind_tags %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory Login</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    {% tailwind_css %}
  </head>

  <body class="bg-gray-100">
    <div class="flex items-center justify-center h-screen">
      <div class="bg-white rounded-lg shadow-lg p-8 w-96">
        <h2 class="text-2xl font-bold text-center mb-6">Welcome Back!</h2>

        <form method="POST">
          {% csrf_token %}
          <div class="mb-4">
            <div class="relative">
              <input
                type="text"
                name="{{ form.username.name }}"
                id="{{ form.username.id_for_label }}"
                value="{{ form.username.value | default_if_none:'' }}"
                aria-describedby="username_error_help"
                class="block px-2.5 pb-1.5 pt-3 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 focus:outline-none focus:ring-0 peer {% if form.username.errors %} focus:border-red-600 border-red-600 {% else %} focus:border-blue-600 {% endif %}"
                placeholder=" "
              />
              <label
                for="{{ form.username.id_for_label }}"
                class="absolute text-sm text-gray-500 duration-300 transform -translate-y-3 scale-75 top-1 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-1 peer-focus:scale-75 peer-focus:-translate-y-3 start-1 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto {% if form.username.errors %} peer-focus:text-red-600 {% else %} peer-focus:text-blue-600 {% endif %}"
              >
                {{ form.username.label_tag }}
              </label>
            </div>
            {% if form.username.errors %}
            <div id="username_error_help" class="text-red-600 error-message">{{ form.username.errors }}</div>
            {% endif %}
          </div>

          <div class="mb-4">
            <div class="relative">
              <input
                type="password"
                name="{{ form.password.name }}"
                id="{{ form.password.id_for_label }}"
                value="{{ form.password.value | default_if_none:'' }}"
                aria-describedby="password_error_help"
                class="block px-2.5 pb-1.5 pt-3 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 focus:outline-none focus:ring-0 peer {% if form.password.errors %} focus:border-red-600 border-red-600 {% else %} focus:border-blue-600 {% endif %}"
                placeholder=" "
              />
              <label
                for="password"
                class="absolute text-sm text-gray-500 duration-300 transform -translate-y-3 scale-75 top-1 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-1 peer-focus:scale-75 peer-focus:-translate-y-3 start-1 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto {% if form.username.errors %} peer-focus:text-red-600 {% else %} peer-focus:text-blue-600 {% endif %}"
                >{{ form.password.label_tag }}</label
              >
            </div>
            {% if form.password.errors %}
            <div id="password_error_help" class="text-red-600 error-message">{{ form.password.errors }}</div>
            {% endif %}
          </div>

          <button type="submit" class="w-full bg-blue-500 text-white rounded-md p-2 hover:bg-blue-600">Login</button>

          {% if form.non_field_errors %}
          <div class="text-red-600 error-message">{{ form.non_field_errors }}</div>
          {% endif %}
        </form>

        <!-- <div class="mt-4 text-center">
        <a href="#" class="text-blue-500 hover:underline">Forgot Password?</a>
      </div> -->
      </div>
    </div>
  </body>
</html>
