.btn-label-secondary {
    color: #8592a3 !important;
    border-color: rgba(0,0,0,0);
    background: #ebeef0;

    &:hover {
        border-color: rgba(0,0,0,0) !important;
        background: #788393 !important;
        color: #fff !important;
        box-shadow: 0 .125rem .25rem 0 rgba(133,146,163,.4) !important;
    }
}

.btn-label-primary {
    color: #696cff !important;
    border-color: rgba(0,0,0,0);
    background: #e7e7ff;

    &:hover {
        border-color: rgba(0, 0, 0, 0) !important;
        background: #5f61e6 !important;
        color: #fff !important;
        box-shadow: 0 .125rem .25rem 0 rgba(105, 108, 255, .4) !important;
    }
}

textarea {
    resize: none;
    height: 200px;
}

.mb-6 {
    margin-bottom: 1.5rem !important;
}